[Unit]
Description=Service to automatically manipulate the keyboard- and screenbacklight of a Macbook

[Service]
Type=simple
ExecStart=/usr/bin/mblight

[Install]
WantedBy=multi-user.target
